# Ignore everything by default
*

# Node-RED palette package (npm installable)
!node-red-contrib-abb-gofa/
!node-red-contrib-abb-gofa/**

# Node-RED flows
!flows/
!flows/gofa_demo_flow.json

# RAPID program (must be loaded on controller for palette to work)
!rapid/
!rapid/MainModule.mod
!rapid/GoFaControl.pgf

# This file
!.gitignore
# README
!README.md
